<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl"><%= t('api_guidance.title') %></h1>

        <p class="govuk-body"><%= t('api_guidance.header') %></p>

        <h2 class="govuk-heading-m"><%= t('api_guidance.data_available.title') %></h2>
        <p class="govuk-body"><%= t('api_guidance.data_available.description') %></p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-5 govuk-!-padding-bottom-6">
          <li><%= t('api_guidance.data_available.domestic') %></li>
          <li><%= t('api_guidance.data_available.non-domestic') %></li>
          <li><%= t('api_guidance.data_available.dec') %></li>
        </ul>

        <h2 class="govuk-heading-m"><%= t('api_guidance.authentication.title') %></h2>
        <% unless Helper::Session.is_logged_in?(session) %>
          <p class="govuk-body govuk-!-padding-bottom-4"><%= t('api_guidance.authentication.logged_out_description') %></p>
        <% end %>

        <% if Helper::Session.is_logged_in?(session) %>
          <p class="govuk-body govuk-!-padding-bottom-4"><%= t('api_guidance.authentication.logged_in_description') %></p>
        <% end %>

        <h2 class="govuk-heading-m"><%= t('api_guidance.rate_limiting.title') %></h2>
        <p class="govuk-body govuk-!-padding-bottom-6">Placeholder for future text</p>

        <h2 class="govuk-heading-m"><%= t('api_guidance.conditions_of_use.title') %></h2>
        <p class="govuk-body govuk-!-padding-bottom-6">Placeholder for future text</p>

        <h2 class="govuk-heading-m"><%= t('api_guidance.technical_documentation.title') %></h2>
        <p class="govuk-body govuk-!-padding-bottom-6"><%= t('api_guidance.technical_documentation.link') %></p>
      </div>
      <%= erb :component__get_help %>
    </div>
  </div>
</div>