<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m govuk-!-padding-top-9">
    <%=t('get_help.heading') %>
  </h2>

  <% unless @hide_guidance_text %>
    <p>
      <a class="govuk-link" href="/guidance"><%=t('get_help.guidance.cta') %></a> <%=t('get_help.guidance.for_help') %>
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-5">
      <li><%=t('get_help.guidance.body')[0] %></li>
      <li><%=t('get_help.guidance.body')[1] %></li>
      <li><%=t('get_help.guidance.body')[2] %></li>
      <li><%=t('get_help.guidance.body')[3] %></li>
    </ul>
  <% end %>

  <p>
    <%=t('get_help.enquiries') %>
  </p>

  <p>
    <a class="govuk-link" href="mailto:<%=t('contact_email') %>?subject=EPB - "><%=t('contact_email') %></a>
  </p>

  <p>
    <%=t('get_help.feedback.text', link: '<a class="govuk-link" href="' + t('feedback_form') + '">' + t('get_help.feedback.cta') + "</a>.") %>
  </p>
</div>
