<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <% unless @errors.empty? %>
        <%= erb :error_summary, locals: { error_form_ids: @error_form_ids }%>
      <% end %>

      <form method="post">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-4">
              <%= t("property_type.title") %>
            </h1>
          </legend>
          <div class="govuk-form-group<% if @errors[:property_type] %> govuk-form-group--error<% end %>">
            <input type="hidden" name="lang" value="<%= I18n.locale.to_s %>" />
            <% if @errors[:property_type] %>
              <p id='property-type-error' class="govuk-error-message">
                <%= @errors[:property_type] %>
              </p>
            <% end %>
            <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="domestic" name="property_type" type="radio" value="domestic" aria-describedby="domestic-item-hint">
              <label  id="label-domestic" class="govuk-label govuk-radios__label" for="domestic">
                <%= t("property_type.radio_selects.domestic.text") %>
              </label>
              <div id="domestic-item-hint" class="govuk-hint govuk-radios__hint">
                <%= t("property_type.radio_selects.domestic.hint") %>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="non-domestic" name="property_type" type="radio" value="non_domestic" aria-describedby="non_domestic-hint">
              <label id="label-non-domestic" class="govuk-label govuk-radios__label" for="non-domestic">
                <%= t("property_type.radio_selects.non-domestic.text") %>
              </label>
              <div id="non-domestic-hint" class="govuk-hint govuk-radios__hint">
                <%= t("property_type.radio_selects.non-domestic.hint") %>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="public-buildings" name="property_type" type="radio" value="public_buildings" aria-describedby="public-properties-hint">
              <label id="label-dec" class="govuk-label govuk-radios__label" for="public-buildings">
                <%= t("property_type.radio_selects.dec.text") %>
              </label>
              <div id="public-buildings-hint" class="govuk-hint govuk-radios__hint">
                <%= t("property_type.radio_selects.dec.hint") %>
              </div>
            </div>
          </div>
          </div>
            <details class="govuk-details govuk-!-margin-top-6 govuk-!-margin-left-3">
            <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              <%= t("property_type.summary.text") %>
                            </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body"><%= t("property_type.summary.para_1") %></p>
              <p class="govuk-body"><%= t("property_type.summary.para_2") %></p>
            </div>
          </details>
          <button class="govuk-button" data-module="govuk-button" type="submit">
            <%= t("property_type.submit") %>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>