<nav class="app-subnav" aria-labelledby="app-subnav-heading">
  <h3 class="app-subnav__theme">General documentation</h3>

  <ul class="app-subnav__section">
    <li class="app-subnav__section-item"><a href="/api-technical-documentation" class="<%= ViewModels::ApiTechDocs.link_class %>">Energy certificate data API documentation</a>  </li>
    <li class="app-subnav__section-item"><a href="/api-technical-documentation/making-a-request" class="<%= ViewModels::ApiTechDocs.link_class %>">Making a request</a> </li>
  </ul>



  <h3 class="app-subnav__theme">API specifications</h3>
  <ul class="app-subnav__section">
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/fetch-certificate-data" class="<%= ViewModels::ApiTechDocs.link_class %>">Fetch certificate data  </a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/search-certificates/domestic" class="<%= ViewModels::ApiTechDocs.link_class %>">Search for domestic certificates </a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/search-certificates/non-domestic" class="<%= ViewModels::ApiTechDocs.link_class %>">Search for non-domestic certificates </a> </li>
    <li class="app-subnav__section-item">
      <a href="" class="<%= ViewModels::ApiTechDocs.link_class %>">Search certificates that have changed</a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download/domestic/csv" class="<%= ViewModels::ApiTechDocs.link_class %>">Download domestic full load csv</a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download-info/domestic/csv" class="<%= ViewModels::ApiTechDocs.link_class %>">Fetch info about domestic full load csv</a> </li>
    <li class="app-subnav__section-item">
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download/domestic/json" class="<%= ViewModels::ApiTechDocs.link_class %>">Download domestic full load json</a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download-info/domestic/json" class="<%= ViewModels::ApiTechDocs.link_class %>">Fetch info about domestic full load json</a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download/non-domestic/csv" class="<%= ViewModels::ApiTechDocs.link_class %>">Download non domestic full load csv</a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download-info/non-domestic/csv" class="<%= ViewModels::ApiTechDocs.link_class %>">Fetch info about non domestic full load csv</a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download/non-domestic/json" class="<%= ViewModels::ApiTechDocs.link_class %>">Download non domestic full load json</a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download-info/non-domestic/json" class="<%= ViewModels::ApiTechDocs.link_class %>">Fetch info about non domestic full load json</a> </li>

  </ul>

</nav>