<nav class="app-subnav" aria-labelledby="app-subnav-heading">
  <h3 class="app-subnav__theme">General documentation</h3>
  <ul class="app-subnav__section">
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Energy certificate data API documentation", link: "" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Making a request", link: "/making-a-request" } %>
  </ul>

  <h3 class="app-subnav__theme">API specifications</h3>
  <ul class="app-subnav__section">
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Fetch certificate data", link: "/fetch-certificate-data" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Search for domestic certificates", link: "/search-certificates/domestic" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Search for non-domestic certificates", link: "/search-certificates/non-domestic" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Search for display energy certificates", link: "/search-certificates/display" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Search certificates that have changed", link: "/search-certificates-changed" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Download domestic full load csv", link: "/download/domestic/csv" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Fetch info about domestic full load csv", link: "/download-info/domestic/csv" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Download domestic full load json", link: "/download/domestic/json" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Fetch info about domestic full load json", link: "/download-info/domestic/json" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Download non domestic full load csv", link: "/download/non-domestic/csv" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Fetch info about non domestic full load csv", link: "/download-info/non-domestic/csv" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Download non domestic full load json", link: "/download/non-domestic/json" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Fetch info about non domestic full load json", link: "/download-info/non-domestic/json" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Fetch EPC codes", link: "/codes" } %>
    <%= erb :'api_tech_docs/component__navigation_item', locals: { text: "Fetch EPC codes info", link: "/codes-info" } %>
  </ul>
</nav>