<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <% unless @errors.empty? %>
          <%= erb :error_summary, locals: { error_form_ids: @error_form_ids }%>
        <% end %>

        <h1 class="govuk-heading-xl"><%= t('opt_out.check_your_answers.title') %></h1>

          <h1 class="govuk-heading-m"><%= t('opt_out.check_your_answers.personal_details.title') %></h1>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <%= t('opt_out.check_your_answers.personal_details.name') %>
              </dt>
              <dd class="govuk-summary-list__value" id="full-name-value">
                <%= ViewModels::OptOut.get_full_name_from_session(session) %>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <%= t('opt_out.check_your_answers.personal_details.email') %>
              </dt>
              <dd class="govuk-summary-list__value" id="email-address-value">
                <%= ViewModels::OptOut.get_email_from_session(session) %>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <%= t('opt_out.check_your_answers.personal_details.relationship_to_property') %>
              </dt>
              <dd class="govuk-summary-list__value" id="property-relationship-value">
                <%= ViewModels::OptOut.get_relationship_to_the_property(session) %>
              </dd>
            </div>
          </dl>

          <br></br>

          <h1 class="govuk-heading-m"><%= t('opt_out.check_your_answers.property_details.title') %></h1>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <%= t('opt_out.check_your_answers.property_details.certificate_number') %>
              </dt>
              <dd class="govuk-summary-list__value" id="certificate-number-value">
                <%= ViewModels::OptOut.get_certificate_number_from_session(session) %>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <%= t('opt_out.check_your_answers.property_details.address') %>
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body"><%= ViewModels::OptOut.get_address_detail_from_session(session, :address_line1) %></p>
                <p class="govuk-body"><%= ViewModels::OptOut.get_address_detail_from_session(session, :address_line2) %></p>
                <p class="govuk-body"><%= ViewModels::OptOut.get_address_detail_from_session(session, :address_town) %></p>
                <p class="govuk-body"><%= ViewModels::OptOut.get_address_detail_from_session(session, :address_postcode) %></p>
              </dd>
            </div>
          </dl>

          <br></br>

          <h1 class="govuk-heading-m"><%= t('opt_out.check_your_answers.confirmation.title') %></h1>

        <div class="govuk-checkboxes__item <% if @errors[:confirmation] %> govuk-form-group--error<% end %>">
          <input class="govuk-checkboxes__input" id="confirmation" name="confirmation" type="checkbox" value="checked" required>
          <% if @errors[:confirmation] %>
            <p id='confirmation-error' class="govuk-error-message">
              <%= @errors[:confirmation] %>
            </p>
          <% end %>
          <label class="govuk-label govuk-checkboxes__label" for="confirmation">
            <%= t('opt_out.check_your_answers.confirmation.body') %>
          </label>
        </div>

        <br></br>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          <%= t("opt_out.warning") %>
        </strong>
      </div>
      <form method="post">
        <button class="govuk-button" data-module="govuk-button" type="submit">
          <%= t("opt_out.check_your_answers.submit") %>
        </button>
      </form>
    </div>
  </div>
  </div>
</div>